.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: bold;
    font-size: 22px;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .link:hover{
    color: #52c48b;
  }
  
  .logout {
    padding: 0.6rem;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.9rem;
    
  }
  .logout:hover{
    background-color: #5dc993;
  }